.input {
  all: unset;
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--main_colours-black);
  background-color: var(--neutral_colours-light_grey); /* Цвет фона для темной темы */
  color: var(--neutral_colours-grey);

}
