.article_title{
  display: flex;
  justify-content: space-between;
}


.shop_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.shop_list_container{
  width: 100%;
}

.link{
  text-decoration: none;
  color: var(--main_colours-black)
}
