.article_title{
  display: flex;
  justify-content: space-between;
}


.shop_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns by default */

  gap: 20px; /* Adjust the gap between items */

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr); /* 1 column on even smaller screens */
  }
}

.shop_list_container{
  width: 100%;
}
