.footer_container{
  border-width: 1px;
  border-top-style: solid;
  border-top-color: var(--TEXT);
}

.top{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.links{
  color: var(--TEXT);
  align-items: center;
  display: flex;
  justify-content: start;
  gap: 10px
}

.email{
  width: 30%;
  display: flex;
  align-items: center;
}

.bottom{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social_media_links{
  display: flex;
  height: 20px;
  gap: 15px;
}
.email_input{
  width: 100%;
  all: unset;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--TEXT);
}

.email_send{
  all: unset;

}

@media (max-width: 768px) {
  .top {
    flex-direction: column; /* Stack items vertically */
  }
  .links{
    flex-direction: column;
  }

  .bottom {
    flex-direction: column; /* Center items in smaller screens */
  }
}
